---
import SocialIcon from './SocialIcon.astro';

interface Social {
    icon: 'github' | 'linkedIn' | 'twitter' | 'email' | 'xing';
    link: string;
    title?: string;
}

const socials: Social[] = [{
    icon: 'github',
    link: 'https://github.com/souparno-nag',
    title: 'View GitHub Profile'
}, {
    icon: 'linkedIn',
    link: 'https://www.linkedin.com/in/souparno-nag-10994228b',
    title: 'View LinkedIn Profile'
}, {
    icon: 'email',
    link: 'mailto:souparno.nag2023@vitstudent.ac.in',
    title: 'Send Email'
}];

---

<!-- Start: Social Links -->
<div class="flex flex-wrap gap-3 mt-6 justify-between">

    {socials.map(social =>
        <a
            href={social.link}
            target="_blank"
            title={social.title}
            rel="noopener noreferrer"
            class="flex items-center justify-center w-10 h-10 rounded-lg bg-black text-gray-100 transition-all duration-150 border border-gray-600 hover:bg-primary hover:-translate-y-0.5">
            <SocialIcon icon={social.icon} />
        </a>
    )}

</div>
<!-- End: Social Links -->