---
import '../styles/global.scss';

// Base domain URL without trailing slash
const domainBaseURL = 'https://github.com/souparno-nag';
const ogImageUrl    = 'https://devidev.io/img/meta.png';

// Website publisher & region
const authorPublisher   = 'Dejan Vi.';
const geoRegion         = 'DE-BY';

// SEO title, description and keywords
const seoTitle          = 'Souparno | Full Stack Developer';
const seoDescription    = 'Passionate web developer focused on creating clean, efficient, and scalable web applications with a modern tech stack.';
const seoKeywords       = 'Full Stack Developer, Typescript, Supabase';

// Twitter card data
const twitter = {
    title:          seoTitle,
    description:    seoDescription,
    image:          ogImageUrl,
    site:           '@devidev_io',
    creator:        '@devidev_io'
};

// Open graph data
const openGraph = {
    title:          seoTitle,
    description:    seoDescription,
    url:            domainBaseURL,
    image:          ogImageUrl,
    type:           'website',
    locale:         'en_US',
    siteName:       'devi|dev|io'
};

// Dublin core
const dublinCore = {
    title:          'devi|dev|io',
    creator:        authorPublisher,
    publisher:      authorPublisher,
    rights:         authorPublisher,
    description:    seoDescription,
    language:       'en',
    type:           'Software',
    format:         'text/html'
};

---

<!doctype html>
<html lang="en" class="bg-black text-gray-100 font-mono">

    <head>

        <!-- Crawler & Robots -->
        <meta name="robots" content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
        <meta name="revisit-after" content="7 days" />
        <meta name="revisit" content="after 7 days" />

        <!-- Start: Meta-Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="content-type"         content="text/html; charset=UTF-8">
        <meta http-equiv="Pragma"               content="cache" />
        <meta http-equiv="X-UA-Compatible"      content="IE=edge">
        <meta name="viewport"                   content="width=device-width, initial-scale=1">
        <!-- End: Meta-Tags -->

        <!-- Start: DNS prefetch and preconnect -->
        <!-- <link rel="preload" as="image" href="/img/logo.svg" /> -->
        <link rel="preconnect" href="https://brain.papersend.io" />
        <!-- End: DNS prefetch and preconnect -->

        <!-- Start: Theming and Favicons -->
        <link rel="icon" type="image/svg+xml" crossorigin="anonymous" href="/img/logo.svg" />
        <!-- <link rel="alternate icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="alternate icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest"> -->
        <!-- End: Theming and Favicons -->

        <!-- Start: Misc meta tags -->
        <link rel="sitemap"                     href="/sitemap-index.xml" />
        <link rel="canonical"                   href={Astro.url} />



        <!-- Title & Description -->
        <title>{seoTitle}</title>
    </head>

    <body class="min-h-[100vh] flex items-center justify-center p-4">
        <slot />
    </body>

</html>